.searchbar-container {
  background-color: #384053;
  padding: 20px;
}

.searchbar {
   margin-bottom: auto;
   margin-top: auto;
   height: 60px;
   background-color: #8E8A92;
   border-radius: 30px;
   padding: 10px;
}

.search_input {
   color: #F7F8F7;
   border: 0;
   outline: 0;
   background: none;
   width: 0;
   caret-color: #987F88;
   line-height: 40px;
   transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
   padding: 0 10px;
   width: 450px;
   caret-color: #987F88;
   transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
   background-color: #987F88;
   color: #6A8B9F;
}

.search_icon {
   height: 40px;
   width: 40px;
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color:white;
   text-decoration:none;
}
