@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.searchbar-container {
  background-color: #384053;
  padding: 20px;
}

.searchbar {
   margin-bottom: auto;
   margin-top: auto;
   height: 60px;
   background-color: #8E8A92;
   border-radius: 30px;
   padding: 10px;
}

.search_input {
   color: #F7F8F7;
   border: 0;
   outline: 0;
   background: none;
   caret-color: #987F88;
   line-height: 40px;
   transition: width 0.4s linear;
}

.search_icon {
   height: 40px;
   width: 40px;
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color: #F7F8F7;
   text-decoration:none;
}

@include media-breakpoint-down(sm) {
  .search_input {
    width: 80vw;
  }
}

@include media-breakpoint-up(sm) {
  .search_input {
    width: 75vw;
  }
}

@include media-breakpoint-up(md) {
  .search_input {
    width: 60vw;
  }
}

@include media-breakpoint-up(lg) {
  .search_input {
    width: 50vw;
  }
}
