@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.card-view-image {
  max-width: 20vw;
}

.card-name-big {
    font-family: 'Roboto', sans-serif;
}

.card-images-container {
  position: relative;
}

.card-flavor-text {
  font-style: italic;
}


.card-image-left {
  filter: brightness(50%);
  max-width: 15vw;
  transform: scale(0.8);
  position: absolute;
  top: 10px;
  left: -100px;
  z-index: 0;
}

.card-image-right {
  filter: brightness(50%);
  max-width: 15vw;
  transform: scale(0.8);
  position: absolute;
  top: 10px;
  left: 100px;
  z-index: 0;
}

.card-image-center {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

@include media-breakpoint-down(sm) {
  .card-name-big {
    font-size: 1rem;
  }

  .card-view-image {
    max-width: 70vw;
  }

  .card-image-left {
    position: absolute;

  }

  .card-image-right {
    position: absolute;
  }

  .card-image-center {
    position: relative;
  }
}

@include media-breakpoint-up(sm) {
  .card-name-big {
    font-size: 1.5rem;
  }

  .card-view-image {
    max-width:50vw;
  }

  .card-image-left {
    position: absolute;
  }

  .card-image-right {
    position: absolute;
  }

  .card-image-center {
    position: relative;
  }
}

@include media-breakpoint-up(md) {
  .card-name-big {
    font-size: 1.5rem;
  }

  .card-view-image {
    max-width: 100%;
  }

  .card-image-left {
    position: absolute;
  }

  .card-image-right {
    position: absolute;
  }

  .card-image-center {
    position: relative;
  }
}

@include media-breakpoint-up(lg) {
  .card-name-big {
    font-size: 2.5rem;
  }

  .card-view-image {
    max-width: 15vw;
  }

  .card-image-left {
    position: absolute;
  }

  .card-image-right {
    position: absolute;
  }

  .card-image-center {
    position: absolute;
  }
}
