.leaderboard-container {
    background-color: #384053;
    padding-top: 20px;
}

.player-position {
  width: 100%;
  padding: 3px;
  background-color: #8E8A92;
  border: solid;
  border-radius: 5px;
  border-color: #987F88;
  margin-bottom: 5px;
}

.leaderboard-button {
  color: #F7F8F7;
  background-color: #8E8A92;
  border-color: #8E8A92;

  margin-bottom: 10px;
}

.showing-ru-button {
  color: #F7F8F7;
  background-color: #6A8B9F;
  border-color: #6A8B9F;

  margin-bottom: 10px;
}
