<div class="main-menu-container">
  <div class="container">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
      <div class="card h-100 card-enabled text-center" style="width: 20rem;">
        <img src="assets/img/heimer-working.jpg" class="card-img-top menu-card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">База карт</h5>
          <p class="card-text">База с картами. Много разных. Ы</p>
          <a href="/card" class="btn default-button stretched-link">Птыц тыц</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
      <div class="card h-100 card-enabled text-center" style="width: 20rem;">
        <img src="assets/img/fiora-top.png" class="card-img-top menu-card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Мастера</h5>
          <p class="card-text">Пришли к успеху?</p>
          <a href="/leaderboard" class="btn default-button stretched-link">Отведи меня туда</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
      <div class="card h-100 card-disabled text-center" style="width: 20rem;">
        <img src="assets/img/heimer-in-progress.png" class="card-img-top menu-card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Декодер</h5>
          <p class="card-text">Почти как у бота, но лучше (наверное)</p>
          <a href="#" class="btn default-button stretched-link">Попробовать</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
    </div>
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
      <div class="card h-100 card-disabled text-center" style="width: 20rem;">
        <img src="assets/img/heimer-in-progress.png" class="card-img-top menu-card-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Статистика</h5>
          <p class="card-text">Цифры, цифорки. Большие, маленькие, понятные, непонятные.</p>
          <a href="#" class="btn default-button stretched-link">Отведи меня туда</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex justify-content-center main-card-row">
    </div>
  </div>
</div>
</div>

<!-- <app-footer>
</app-footer> -->
